@import url('https://fonts.googleapis.com/css?family=Sarala&display=swap');

$green:#61C27C;
$black:#050608;

*{
  margin: 0 ;
  padding: 0;
}

body{
  font-family: 'Sarala', sans-serif;
  font-size: 1rem;
  background: #FAFAFA;
}