@import 'font';
@import 'navbar';
@import 'common';

.bg-image{
  background: url('../img/snake.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.intro-section{
  color: #fff;
  display: flex;
  align-items: center;
  height: 100%;

  .intro-data{
    h4{
      margin-bottom: 1.6rem;
    }

    p{
      margin-bottom: 0;
    }
  }
}

.menu{
  color: #fff;
}


// blog section


.card-blog{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.card-title-blog{
  color:$green;
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.des-blog{
  color:#565656;
}

.date-time{
  display: flex;
  justify-content: space-between;
}


.recuer-img{
  width:3.375rem;
  height:3.375rem;
  border-radius: 50%;
  background: #333;
}

.recuer-data{
    display: flex;
    align-items: center;
    margin-top: 4rem;
}

.dos-card{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 1.5rem;
}

.call-us{
  display: block;
  background:$green;
  color: $black;
  padding: .5rem;
  margin-top:2rem;
  width: 5rem;
  border-radius: 4px;
  font-weight: 700;
}

.call-us:hover{
  text-decoration: none;
  color: $black;
}