.nav-link-custom{
  color: #fff !important;
}

.nav-bg{
  background-color: #040404a1!important;
}

.nav-center{
  justify-content: center;
}

.nav-link-login{
  color: $green !important;
}

.logo{
  height: 2.1875rem;
}