.nav-link-custom{
  color: #fff !important;
}

.nav-bg{
  background-color: #040404a1!important;
}

.nav-center{
  justify-content: center;
}

.nav-link-login{
  color: $green !important;
}

.logo{
  height: 2.1875rem;
}



/*
|--------------------------------------------------------------------------
| Bottom navbar
|--------------------------------------------------------------------------
*/
.bottom-navbar{
  position:fixed;
	bottom:0;
	left:0;
	right:0;
  z-index:1000;
  background: #fff;
  display:none;
  justify-content: center;

  ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0rem;

    li{
      display: inline-block;
    }

  }

}

.bottom-nav-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-nav-bar-link{
  color: $green;
}

.bottom-nav-bar-link:hover{
  color: $green;
  text-decoration: none;
}


@media screen and (max-width: 768px) {
    .bottom-navbar{
      display: flex;
    }

    .nav-hide{
      display: none;
    }
}



/*
|--------------------------------------------------------------------------
| Options overlay
|--------------------------------------------------------------------------
*/
.overlay {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s all;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
  }

  .overlay .closebtn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2rem;
    color: #818181;
  }

  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
