@import '../font';
@import '../navbar';
@import '../common';

.btn-green{
  background: $black;
  color:$green;
}

.btn-green:hover{
  background: $black;
  color:$green;
}

.green-link{
  color:$green;
}

.green-link:hover{
  color: $green;
}

.login-card{
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border-left: 3px solid #42FF5B;
}

.logo-height{
  height:3rem;
}

.login-icon{
  color: $green;
  font-size: 1.2rem;
}

.border-left-remove{
  border-left:transparent;
}

.border-right-remove{
  border-right: transparent;
  background: #fff !important;
}

.login-p{
  font-size: .9rem;
  color: #a7a7a7;
}



.upload-camera{
    height: 3rem;
    width: 2rem;
}

.upload-image{
    height: 100px;
    width: 100px;
    border: 1px solid #aeaeae;
    border-radius: 50%;
    transition: .2s all;
    color: #aeaeae;
}

.upload-image:hover{
    border: 1px solid $green;
    background: $green;
    transition: .2s all;
    color: #fff !important;
}
